*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html{
  font-family: 'Roboto', sans-serif;
}

/* HOME PAGE*/

/* Estilos generales para la página Home */
.home-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 16px;
}

/* Estilos para la sección de Productos Destacados */
.featured-products-section {
  margin-top: 100px;
  margin-bottom: 50px;
}

.featured-products-section h2 {
  color: #2094f3;
}

/* Estilos para la lista de productos destacados */
.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos Componente ProductCard */
.product-card {
  /* border: 2px solid black; */
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
  width: 280px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el cursor sobre la tarjeta */
}

.product-card img {
  width: 100%;
  border-radius: 7px;
}

.product-card h3 {
  color: #2094f3;
  margin: 8px 0;
}

.product-card p {
  color: #50c2f7;
  margin: 8px 0;
}

.product-card button {
  background-color: #80d3fa;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-card button:hover {
  background-color: #b6e6fc;
}



/* Estilos para la sección de Ofertas Especiales */
.special-offers-section {
  margin-bottom: 32px;
}

.special-offers-section h2 {
  color: #2094f3;
}

.special-offers-section .product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Estilos para la sección de Categorías Populares */
.popular-categories-section {
  margin-bottom: 32px;
}

.popular-categories-section h2 {
  color: #2094f3;
}

.popular-categories-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-categories-section li {
  color: #50c2f7;
  margin: 8px 0;
}

/* Estilos Navbar */

.navbar {
  background-color: white;
  color: #1565c1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand a{
  font-size: 1.5em;
  color: #1565c1;
  font-weight: bold;
  text-decoration: none;
}

.navbar-links a {
  color: #1565c1;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* PAGINA CATALOGO */

.catalogo-container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 16px;
}

/* CARRRITO PAGE  */

.cart-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.cart-items {
  display: grid;
  grid-gap: 15px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
}

.cart-item input {
  width: 40px;
  margin-right: 10px;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  
}

.cart-total span{
  margin-right: 10px;
}

.cart-total button {
  background-color: #2094f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-total button:hover {
  background-color: #1565c1;
}

.btn-eliminar{
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn-eliminar:hover{
  background-color: rgb(216, 0, 0);
}


/* PAGO PAGE */

.payment-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.shipping-info,
.payment-method {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 10px;
}

form {
  display: grid;
  grid-gap: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #2094f3;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1565c1;
}

/* DETALLE PRODUCTO PAGE */

.product-details-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}



